@import '../../../styles/variables';

.inputContainer {
    display: flex;
    input {
        height: 40px;
        font-size: 20px;
        border-radius: 5px;
        border: 1px solid rgba($color: $gray-1, $alpha: 1.0);
        transition: all 0.2s ease;
        &:focus {
            outline: none;
        }

        &:hover, &:focus {
            background: rgba($color: $gray-1, $alpha: 0.8);
        }

        &.error {
            border: 1px solid rgba($color: $error-red, $alpha: 1.0);
        }
    }
}