@import '../../../styles/variables';

.buttonContainer {
    display: flex;

    .button {
        border: none;
        height: 40px;
        text-transform: uppercase;
        border-radius: 5px;
        transition: all 0.2s ease;
        padding: 0 12px;

        &:hover {
            cursor: pointer;
        }

        &.success {
            border: 2px solid rgba($color: #fff, $alpha: 1.0);
            background: transparent;
            color: #2b2b2b;
            font-size: 16px;
            font-weight: 700;

            &:hover {
                background: rgba($color: $success-green, $alpha: 0.7);
            }
        }
    }
}