@import '../../../styles/variables';

.buttonContainer {
    display: flex;

    .button {
        border: none;
        height: 40px;
        text-transform: uppercase;
        border-radius: 5px;
        transition: all 0.2s ease;

        &:hover {
            cursor: pointer;
        }

        &.success {
            background: rgba($color: $success-green, $alpha: 1.0);
            color: #444;
            font-size: 16px;
            font-weight: 700;

            &:hover {
                background: rgba($color: $success-green, $alpha: 0.7);
            }
        }
    }
}