@import '../../../styles/variables';

.topHeaderRootContainer {
    background: rgba($color: $gray-1, $alpha: 1.0);
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
        display: flex;
        column-gap: 10px;

        li {
            position: relative;

            &.activeMenuItem {
                &:after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    left: 0;
                    bottom: -10px;
                    height: 4px;
                    background: rgba($color: $text-default, $alpha: 1.0)
                }
            }
        }

        a {
            text-decoration: none;
            color: $text-default;
        }
    }
}