@import '../../../../styles/variables';

.formContainer {
    background: rgba($color: $gray-2, $alpha: 0.6);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 30px;

    .inputContainer {
        margin: 10px 0;
        width: 100%;
    }
}